[submodule "cookbook/test/integration/default/redhat-enterprise-linux-9-stig-baseline"]
	path = cookbook/test/integration/default/redhat-enterprise-linux-9-stig-baseline
	url = https://github.com/mitre/redhat-enterprise-linux-9-stig-baseline.git
